<img src="/assets/Worm.PNG"/>
<img src="/assets/Wheat.PNG"/>
<img src="/assets/Berry.PNG"/>
<img src="/assets/RRRAT.PNG"/>
<img src="/assets/Fish.PNG"/>
<!-- <div>{{secretService.GetSecretBird().name}}</div> -->
<div [hidden] = "guesses.length == 0">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Wingspan</th>
                <th>Expansion</th>
                <th>Power Color</th>
                <th>Power Category</th>
                <th>Victory Points</th>
                <th>Nest Type</th>
                <th>Egg Capacity</th>
                <th>Habitat(s)</th>
                <th>Food Cost</th>
                <th>Food in Cost</th>
            </tr>
        </thead>
        <tbody>
          @for (guess of guesses; track i; let i = $index)
          {
            <tr>
              <td>{{guess.name}}</td> 
              <td [style]="getWingspanCompare(guess.wingspan)">{{guess.wingspan == 0 ? "*" : guess.wingspan}}</td>
              <td [style]="getExpansionCompare(guess.expansion)">
                {{(guess.expansion == 'originalcore' || guess.expansion == 'swiftstart') ? 'Base Game' : guess.expansion == 'european' ? 'European' : 'Oceania'}}
              </td>
              <td [style]="getPowerColorCompare(guess.powerColor)">{{guess.powerColor}}</td>
              <td [style]="getPowerCategoryCompare(guess.powerCategory)">{{guess.powerCategory}}</td>
              <td [style]="getVictoryPointsCompare(guess.victoryPoints)">{{guess.victoryPoints}}</td>
              <td [style]="getNestTypeCompare(guess.nestType)">
                <!-- {{guess.nestType}} -->
                @if (guess.nestType == "Cavity")
                {
                  <img src="assets/Cavity.PNG"/>
                }
                @if (guess.nestType == "Bowl")
                {
                  <img src="assets/Bowl.PNG"/>
                }
                @if (guess.nestType == "Platform")
                {
                  <img src="assets/Platform.PNG"/>
                }
                @if (guess.nestType == "Ground")
                {
                  <img src="assets/Ground.PNG"/>
                }
                @if (guess.nestType == "Wild")
                {
                  <img src="assets/WildNest.PNG"/>
                }
                </td>
              <td [style]="getEggCapacityCompare(guess.eggCapacity)">{{guess.eggCapacity}}</td>
              <td [style]="getHabitatsCompare(guess.habitats)">
                
                  
                  <!-- {{guess.habitats.toString()}} -->
                  @if (guess.habitats.includes(habitat.Forest))
                  {
                    <img src="assets/Forest.PNG"/>
                  }
                  @if (guess.habitats.includes(habitat.Grassland))
                  {
                    <img src="assets/Grassland.PNG"/>
                  }
                  @if (guess.habitats.includes(habitat.Wetland))
                  {
                    <img src="assets/Wetland.PNG"/>
                  }
                </td>
              <td [style]="getFoodCostCompare(guess.foodCost)">{{guess.foodCost}}</td>
              <td [style]="getFoodsInCostCompare(guess.foodsInCost)">
                <!-- {{guess.foodsInCost.toString()}} -->
                @if (guess.foodsInCost.includes(food.Worm))
                {
                  <img src="assets/Worm.PNG"/>
                }
                @if (guess.foodsInCost.includes(food.Wheat))
                {
                  <img src="assets/Wheat.PNG"/>
                }
                @if (guess.foodsInCost.includes(food.Berry))
                {
                  <img src="assets/Berry.PNG"/>
                }
                @if (guess.foodsInCost.includes(food.Rat))
                {
                  <img src="assets/RRRAT.PNG"/>
                }
                @if (guess.foodsInCost.includes(food.Fish))
                {
                  <img src="assets/Fish.PNG"/>
                }
                @if (guess.foodsInCost.includes(food.Wild))
                {
                  <img src="assets/WildFood.PNG"/>
                }
                @if (guess.foodsInCost.includes(food.Nectar))
                {
                  <img src="assets/Nicktar.PNG"/>
                }
              </td>
            </tr>
          }
        </tbody>
    </table>
</div>

<app-win-lose-popup [isVisible]="isPopupVisible" [message]="popupMessage" (reset)="handleReset()"></app-win-lose-popup>