img.food {
    height: 50px;
    width: 50px;
}

.hint-container {
    background: rgba(77, 76, 76, 0.5);
    border-radius: 0.5rem;
    padding: 0.25rem;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.hint-span {
    font-style: italic;
    color: rgb(214, 209, 209);
    font-weight: 500;
}