<div class="flex flex-row justify-center items-center p-4">
    <img #hungryBird [src]="isHovering ? 'assets/HintBirdHungry.PNG' : 'assets/HintBird.PNG'" />
    <br>
    <div>
        @if (isFood1Visible)
        {
        <img id="food1" class="food"
        cdkDrag src="assets/Worm.PNG" title="First Letter" (cdkDragMoved)="dragFoodStart($event)" (cdkDragEnded)="dragFoodEnd($event)"/>
        }
        @else
        {
            <div class="hint-container">
                <span class="hint-span">{{hint1}}</span>
            </div>
        }
        @if (isFood2Visible)
        {
        <img id="food2" class="food"
        cdkDrag src="assets/Worm.PNG" title="Scientific Name" (cdkDragMoved)="dragFoodStart($event)" (cdkDragEnded)="dragFoodEnd($event)"/>
        }
        @else
        {
            <div class="hint-container">
                <span class="hint-span">{{hint2}}</span>
            </div>
        }
        @if (isFood3Visible)
        {
        <img id="food3" class="food"
        cdkDrag src="assets/Worm.PNG" title="Power Description" (cdkDragMoved)="dragFoodStart($event)" (cdkDragEnded)="dragFoodEnd($event)"/>
        }
        @else
        {
            <div class="hint-container">
                <span class="hint-span">{{hint3}}</span>
            </div>
        }
    </div>
</div>
