body {
    background-image: url("assets/Background.jpg"); /* Specify the path to your image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Resizes the image to cover the entire container */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
    background-color: rgba(255, 255, 255, .5);
}